@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {

    border-top-width: 2px ;
    border-top-color: rgb(0, 0, 0);
}
body {
    padding: 0;
    margin: 0;
}
.menu  {
    font-family: "Oswald", sans-serif;
    background-color: #f7efd8; 
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 10px;
    min-width: 400px;
    font-size: 20px;    

}
.menu-img {
    max-width: 75px;
    margin: 0;
    padding: 0px;
}

